
<html>
<head>
<style>
body{
    background-color:  #b3ffd9;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
    <img src="fjords.jpg" alt="Fjords" width="300" height="200">
    <div class="desc">first  award  of  best  mailing  service.</div>
</div>

<div class="gallery">
    <img src="forest.jpg" alt="Forest" width="300" height="200">
    <div class="desc">best  service provider of  the year award</div>
</div>

<div class="gallery">
    <img src="lights.jpg" alt="Northern Lights" width="300" height="200">
    <div class="desc">best network provider</div>
</div>

<div class="gallery">
    <img src="mountains.jpg" alt="Mountains" width="300" height="200">
    <div class="desc">president award of the year</div>
</div>

</body>
</html>